<!DOCTYPE html>
<html>
<head>
    <title>Student Saver</title>
</head>

<body>
    <h2>Student Saver</h2>

    <form method="post">
        <label>Category:</label>
        <select name="category">
            {% for category in categories %}
            <option value="{{ category }}" {% if category == selected_category %} selected {% endif %}>{{ category }}</option>
            {% endfor %}
        </select>
        <br></br>
        <label>Budget:</label>
        <input type="number" name="price" step="5" value= "{{ selected_price if selected_price else ''}}" required>
        <br></br>
        <button type="submit">Get Recommendations</button>
    </form>
    
    {% if recommendations is not none %}
    <h3>Recommended Products:</h3>
    <table border="1">
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
        {% for index, row in recommendations.iterrows() %}
        <tr>
            <td>{{ row["product_title"]}}</td>
            <td>{{ row["product_category"]}}</td>
            <td>{{ row["original_price"]}}</td>
        </tr>
        {% endfor%}
    </table>

    <br>
    <a href="/"><button type="button">Reset</button></a>
    {% endif %}
</body>
</html>